@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Rajdhani|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mukta&display=swap');

* {
    margin: 0px;

}

header {
    display: flex;
    width: 100%;
}

.contenedor-barra-de-navegacion {
    /* background-color: aquamarine; */
    padding: 20px 20px 20px 0;
    width: 40%;

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedor-barra-de-navegacion {
        width: 100%;
        padding: 0px;
        margin: 0px;

    }
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .contenedor-barra-de-navegacion {
        width: 100%;
        padding: 5px;


    }
}

.barra-de-navegacion {
    display: flex;
}


.texto-barra-de-navegacion {
    margin-right: auto;
    padding-top: 10px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: rgb(34, 30, 71);
    font-family: 'Open Sans Condensed';
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .texto-barra-de-navegacion {}
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .texto-barra-de-navegacion {
        font-size: 14px;
        margin: 5px;


    }
}

.texto-barra-de-navegacion:hover {
    text-decoration: underline;

}

.contenedor-logo {
    background-color: #A26DCE;
    width: 20%;
    margin-left: 30%;
    font-family: 'Open Sans Condensed';
    color: beige;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedor-logo {
        padding: 0px;
        margin: 0px 5px;
        font-size: 12px;
        padding-bottom: 5px;

    }
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .contenedor-logo {
        width: 0%;
        padding: 0px;
        margin: 0px 0px;
        font-size: 0px;

    }
}

section {
    width: 100%;
}

.introduccion {
    display: flex;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .introduccion {
        display: block;
    }
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .introduccion {
        display: block;
    }
}



.imagen {
    width: 700px;
    padding: 20px;
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .imagen {
        width: 330px;
    }
}


.texto-introduccion {}

.titulo-introduccion {
    padding-left: 20px;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans Condensed';
    font-size: 42px;
    color: rgb(34, 30, 71);
    border-left: solid rgb(34, 30, 71);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .titulo-introduccion {
        width: 80%;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .titulo-introduccion {
        width: 80%;
        margin-top: 10px;
        font-size: 28px;
    }
}

p.texto-sobre-mi {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 80px;
    font-family: 'PT Sans Narrow';
    color: rgb(88, 87, 92);
    font-size: 18px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    p.texto-sobre-mi {
        width: 80%;
        margin-left: 80px;
        margin-bottom: 240px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    p.texto-sobre-mi {
        width: 80%;
        margin-left: 30px;
        margin-bottom: 40px;
    }
}

/* esta seccion es acerca de mi */


.inicio {
    display: flex;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .inicio {
        display: block;

    }
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .inicio {
        display: block;

    }
}

.imagen-inicio {
    width: 500px;
    margin-left: 20px;
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .imagen-inicio {
        width: 340px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .imagen-inicio {
        width: 300x;
        margin-left: 120px;
    }
}


.titulo-inicio {
    padding-left: 250px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans Condensed';
    font-size: 42px;
    color: rgb(34, 30, 71);
    border-right: solid rgb(34, 30, 71);
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .titulo-inicio {
        padding-left: 90px;

    }
}

.texto-inicio {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
    font-family: 'PT Sans Narrow';
    color: rgb(88, 87, 92);
    font-size: 18px;
    text-align: justify;
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .texto-inicio {
        margin-right: 20px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .texto-inicio {
        margin-left: 30px;
        margin-bottom: 50px;
    }
}

/* --esta seccion es de mi portafolio */


.contenedor-landing {
    display: flex;
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .contenedor-landing {
        display: block;

    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedor-landing {
        display: block;

    }
}

.imagen-landing {
    width: 700px;
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .imagen-landing {
        width: 340px;

    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .imagen-landing {
        margin-top: 30px;

    }
}

.titulo-landing {
    padding-left: 160px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans Condensed';
    font-size: 42px;
    color: rgb(34, 30, 71);
    border-right: solid rgb(34, 30, 71);
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .titulo-landing {
        padding-left: 100px;
        margin-top: 10px;
        font-size: 30px;

    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .titulo-landing {
        padding-left: 260px;

    }
}

.texto-landing {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
    font-family: 'PT Sans Narrow';
    color: rgb(88, 87, 92);
    font-size: 18px;
    text-align: justify;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .texto-landing {
        margin-bottom: 30px;
    }
}



/*  */

.contenedor-studio {
    display: flex;
    flex-direction: row-reverse;
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .contenedor-studio {
        display: block;

    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedor-studio {
        display: block;

    }
}

.imagen-studio {
    width: 400px;
    margin-right: 130px;
    border-radius: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedor-landing {
        display: block;

    }
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .imagen-studio {
        width: 340px;
        margin-left: 15px;

    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .imagen-studio {
        margin-left: 180px;

    }
}

.titulo-studio {
    padding-left: 220px;
    margin-top: 30px;
    margin-right: auto;
    font-family: 'Open Sans Condensed';
    font-size: 42px;
    color: rgb(34, 30, 71);
    border-left: solid rgb(34, 30, 71);
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .titulo-studio {
        padding-left: 90px;
        margin-top: 10px;
        font-size: 30px;

    }
}

.texto-studio {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 40px;
    font-family: 'PT Sans Narrow';
    color: rgb(88, 87, 92);
    font-size: 18px;
    text-align: justify;
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .texto-studio {
        margin-left: 20px;
        margin-right: 20px;
    }
}


.contenedor-studio {
    margin-top: 10px;
}

/*  */

.contenedor-formulario {
    display: flex;
    margin-top: 20px;
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .contenedor-formulario {
        display: block;

    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedor-formulario {
        display: block;

    }
}

.imagen-formulario {
    width: 600px;
    margin-left: 60px;
    border-radius: 10px;
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .imagen-formulario {
        width: 365px;
        margin-left: 5px;
    }
}

.titulo-formulario {
    padding-left: 160px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans Condensed';
    font-size: 42px;
    color: rgb(34, 30, 71);
    border-right: solid rgb(34, 30, 71);
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .titulo-formulario {
        padding-left: 100px;
        font-size: 30px;

    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .titulo-formulario {
        margin-left: 140px;

    }
}

.texto-formulario {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
    font-family: 'PT Sans Narrow';
    color: rgb(88, 87, 92);
    font-size: 18px;
    text-align: justify;
}

/*  */

.texto-landing {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
    font-family: 'PT Sans Narrow';
    color: rgb(88, 87, 92);
    font-size: 18px;
    text-align: justify;
}

/*  */

.contenedor-thelast {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .contenedor-thelast {
        display: block;

    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .contenedor-thelast {
        display: block;

    }
}

.imagen-thelast {
    width: 700px;
    margin-right: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .imagen-thelast {
        margin-left: 30px;

    }
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .imagen-thelast {
        width: 380px;

    }
}

.titulo-thelast {
    padding-left: 120px;
    margin-top: 30px;
    margin-right: auto;
    font-family: 'Open Sans Condensed';
    font-size: 42px;
    color: rgb(34, 30, 71);
    border-left: solid rgb(34, 30, 71);
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .titulo-thelast {
        padding-left: 80px;
        font-size: 30px;

    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .titulo-thelast {
        padding-left: 240px;

    }
}

.texto-thelast {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 40px;
    font-family: 'PT Sans Narrow';
    color: rgb(88, 87, 92);
    font-size: 18px;
    text-align: justify;
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .texto-thelast {
        margin-left: 20px;
        margin-right: 20px;
        padding-bottom: 30px;

    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .texto-thelast {
        margin-bottom: 30px;
    }
}

/* footer */

.contenedor-footer {
    display: flex;
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .contenedor-footer {
        display: inline;
    }
}


.copy {
    font-family: 'Mukta', sans-serif;
    color: rgba(0, 0, 0, .4);
    text-align: center;
    margin: 10px;
    width: 50%;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .copy {
        width: 40%;

    }
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .copy {
        width: 95%;
        font-size: 12px;
    }
}

.barra-de-navegacion-footer {
    margin-top: 10px;
}

.texto-barra-de-navegacion-footer {
    width: 50%;
    margin: 20px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: rgb(34, 30, 71);
    font-family: 'Open Sans Condensed';
}

@media only screen and (min-width: 375px) and (max-width: 700px) {
    .texto-barra-de-navegacion-footer {
        font-size: 13px;
        margin: 5px;
    }
}

.texto-barra-de-navegacion-footer:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .texto-barra-de-navegacion-footer {
        width: 50%;
        margin: 5px;
    }
}